@media (max-width: 1100px) {
  .cart-items {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 800px) {
  .cart-items {
    margin-left: 40px;
    margin-right: 40px;
  }
  .cart-items__down {
    flex-direction: column;
  }
  .cart-items__main {
    gap: 15px;
    font-size: 16px;
    padding: 12px 0;
  }
}

@media (max-width: 680px) {
  .cart-items {
    margin-left: 30px;
    margin-right: 30px;
  }
  .cart-items__down {
    flex-direction: column;
  }
  .cart-items__total {
    width: 100%;
  }

  .cart-items__promocode {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .cart-items__main {
    display: none;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    gap: 10px;
  }

  .cart-items__format {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
  }
}

input[type='text'] {
  background-color: #eaeaea;
}
