.hero {
  padding: 0 144px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

.hero-left p {
  font-weight: 600;
  font-size: 100px;
  color: #171717;
}

.hero-hand-icon img {
  width: 105px;
}

@media (max-width: 1280px) {
  .hero {
    padding: 0 100px;
  }

  .hero-left p {
    font-size: 60px;
  }

  .hero-hand-icon img {
    width: 60px;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding: 0 60px;
  }

  .hero-left p {
    font-size: 40px;
    font-weight: 700;
  }

  .hero-hand-icon img {
    width: 40px;
  }

  .hero-lastes-btn {
    width: 200px;
    height: 50px;
  }

  .hero-lastes-btn span {
    font-size: 16px;
  }
}

@media (max-width: 570px) {
  .hero {
    padding: 30px;
    flex-direction: column;
  }

  .hero-left {
    gap: 4px;
  }
  .hero-left p {
    font-size: 28px;
    font-weight: 700;
  }

  .hero-left h2 {
    font-size: 18px;
  }

  .hero-right img {
    height: 350px;
  }
}
